<nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
  <div class="container flex-wrap">
    <a class="navbar-brand" href="/">Job Seeker</a>
    <ul class="navbar-nav ms-auto align-items-center flex-wrap">
      {% if user.is_authenticated %}
      {% if user.profile.is_candidate %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cart.index' %}">Cart</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'applications.index' %}">My Applications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:profile_edit' %}">My Profile</a>
      </li>
      <li class="nav-item">
        <form method="post" action="{% url 'accounts:logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-link nav-link">Log out</button>
        </form>
      </li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Log in</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">Sign up</a></li>
      {% endif %}
    </ul>
  </div>
</nav>