{% extends 'base.html' %}
{% block content %}
<div class="card mb-3">
    <div class="card-body">
        <h2 class="mb-3">{{ template_data.job.company }}</h2>
        <h5 class="card-title">{{ template_data.job.title }}</h5>
        <h6 class="card-subtitle mb-2">Location: {{ template_data.job.location }}</h6>
        <p class="card-text">${{ template_data.job.salary_min }} - ${{ template_data.job.salary_max }}</p>
        <p class="card-text">{% if template_data.job.remote %} remote {% endif %}</p>
        <p class="card-text">{{ template_data.job.description }}</p>
        {% if user.is_authenticated and user == template_data.job.recruiter %}
        <a href="{% url 'jobs.edit' id=template_data.job.id %}" class="btn btn-primary">Edit this Posting</a>
        {% endif %}
        <!-- include an apply button here later -->
        {% if user.is_authenticated and user != template_data.job.recruiter %}
        {% if template_data.has_applied %}
        <button class="btn btn-secondary" disabled>Applied</button>
        {% else %}
        <a href="{% url 'applications.apply' job_id=template_data.job.id %}" class="btn btn-success">Apply</a>
        {% endif %}
        {% if user.profile.is_candidate %}
        <form method="POST" action="{% url 'cart.add' id=template_data.job.id %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary">Add to Cart</button>
        </form>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock content %}